{% extends "letter_count/base.html" %}
{% block content %}
<br><br>
<div class="row white">
    <div class="large-12 columns">
        <h2>Enter a phrase and I'll count your letters.</h2>
    </div>
</div>
<div class="row white">
    <div class="columns large-12">
        <form action="/create_post/" method="POST" id="post-form">
            {% csrf_token %}
            <div class="fieldWrapper" id="the_post">
                {{ form.text }}
            </div>
            <div id="results"></div>
            <input type="submit" value="Count my letters" class="tiny button">
        </form>
    </div>
</div>

<!-- The feed -->
<div class="row white">
    <div class="columns large-12">
        <ul id="talk">
            Previous Entries:
            {% for post in all_posts %}
            <li>
                <div>{{ post.text }}:</div>
                <ul>
                    <li>
                    {% for key,value in post.letter_count.items %}
                       <span>{{ value }}- {{ key }}</span>{% if not forloop.last %}, {% endif%}
                    {% endfor %}
                    </li>
                </ul>
            </li>
            {% empty %}
            <li>Sorry, no previous entries</li>

            {% endfor %}

        </ul>
    </div>
</div>

{% endblock %}
