
                <div>You entered:
                    <strong>{{ post.text }}</strong>
                    <div>
                    Letter Analysis:
                        <ul>
                            {% for key, value in post.alpha.items%}
                                <li style="padding-left: 30px;">
                                    {{ key }} appears {{ value }} time{{value|pluralize}}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
                        <br>

